.main-container {
    display: grid;
    grid-template-columns: auto auto;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vh;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .youtb {
    display: flex;
    align-items: center;
  }
  .youtb img {
    margin-right: 10px;
  }
  .search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    /* max-width: 600px; */
    margin: 0 20px;
  }
  .search {
    flex-grow: 1;
    border: 1px solid #ccc;
    height: 35px;
    border-radius: 20px 0 0 20px;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
  }
  .search-button {
    border: 1px solid #ccc;
    border-left: none;
    height: 37px;
    border-radius: 0 20px 20px 0;
    background-color: #585555;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }
  .search-button img {
    width: 20px;
    height: 20px;
  }
  .mic-container {
    border: 2px solid black;
    border-radius: 30px;
  }
  /* .other-container{
justify-content: space-around;
  } */
  .video-container {
    border: 2px solid white;
    background-color: white;
  }
  .notification-container {
    border: 2px solid white;
    background-color: white;
  }